@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@keyframes bgPan {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@media (max-width: 820px) {
  .animate-\[bgPan_10s_ease-in-out_infinite\] {
    animation: none !important;
    background-size: cover !important;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }

  50% {
    transform: translateY(-20px) translateX(20px);
  }
}

@keyframes floatFromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0.7;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  0% {
    opacity: 1;
    clip-path: inset(0 100% 0 0);
  }

  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
